@import 'left.css';
@import 'right.css';


body {
    display: flex;
    justify-content: center;
    background-color: gray;

    /* max-height: 100vh; */
}

.folha {
   
    width: 60%;
    /* min-height: 130vh; */

    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
    background-color: inherit;
}
